<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity:</strong>
  <%= @top_fife.opportunity %>
</p>

<%= link_to 'Edit', edit_top_fife_path(@top_fife) %> |
<%= link_to 'Back', top_fives_path %>
