<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity:</strong>
  <%= @strength_opportunity.opportunity %>
</p>

<%= link_to 'Edit', edit_strength_opportunity_path(@strength_opportunity) %> |
<%= link_to 'Back', strength_opportunities_path %>
