<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity:</strong>
  <%= @other_opportunity.opportunity %>
</p>

<%= link_to 'Edit', edit_other_opportunity_path(@other_opportunity) %> |
<%= link_to 'Back', other_opportunities_path %>
